*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
body {
    background-color: #070F2B;
}
h2{
    display: inline-block;
    position: relative;
    bottom: 15px;
    right: 10px;
}
.welcome{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 5px;
}
img{
    width: 50px;
}
.title{
    background-color: burlywood;
    padding: 10px;
    padding-bottom: 4px;
    padding-left: 25px;
    width: 50%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul li{
    list-style: none;
    margin-top: 20px;
}
ul li a:hover{
    border-bottom: 2px solid wheat;
}
.current{
    border-bottom: 2px solid wheat;
}
ul li a{
    text-decoration: none;
    font-size: 20px;
}
.fa-solid{
    width: 20px;
    color: aliceblue;
    margin-right: 10px;
}
#addpost{
    position: absolute;
    top: 50%;
    left: 56.5%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    background-color: bisque;
    box-shadow:10px 10px brown;
}
/*==MANAGEPOST==*/
#managepost{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 70%;
    background-color: bisque;
    overflow: hidden;
    padding: 50px;
    display: flex;
    justify-content: center;
    box-shadow:10px 10px brown;
}
table{
    border-collapse: collapse;
    padding: 20px;
    text-align: center;
    color: black;
    font-weight: bold;
    border-bottom: 2px solid black;
    width: 100%;
    white-space: nowrap;
    margin-top: 20px;
    border-color: #1B1A55;
}
tr, th, td{
    padding: 20px;
    text-align: center;
    color: black;
    font-weight: bold;
}
td:nth-child(2){
    overflow-x: auto;
    white-space: nowrap; 
    overflow-x: auto; 
    max-width: 150px; 
}
td a{
    text-decoration: none;
    background-color: #070F2B;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid red;
}
td a:nth-child(2){
    background-color: red;
    color: #070F2B;
    border: 2px solid #070F2B;
    transition: .3s;
}
td a:hover{
    border: 2px solid white;
}
th{
    background-color: #070F2B;
    padding: 10px;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
.tablecont{
    overflow: auto;
}
.tablecont div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.green{
    color: green
}
.red{
    color: red
}
.blue{
    color: white;
    background-color: red;
    padding: 5px;
    font-size: 25px;
    text-decoration: none;
    border: 2px  solid #070F2B;
    border-radius: 5px;
    transition: .3s;
}
.blue:hover{
    background-color: #070F2B;
}
.reminder{
    color: red;
}
.container{
    width: 50%;
    height: 50%;
    background-color: wheat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
}
.inner{
    position: relative;
}
label{
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
input[type="submit"]{
    background-color: #070F2B;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
textarea{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    border: none;
}
a{
    padding: 10px;
    background-color: red;
    position: absolute;
    margin-top: 20px;
    border-radius: 10px;
    text-decoration: none;
}